apiVersion: apps/v1
kind: Deployment
metadata:
  name: fineract-server
  labels:
    app: fineract-server
spec:
  selector:
    matchLabels:
      app: fineract-server
      tier: backend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: fineract-server
        tier: backend
    spec:
      initContainers:
        - name: init-mydb
          image: busybox:1.28
          command: ['sh', '-c', 'echo -e "Checking for the availability of MYSQL server deployment"; while ! nc -z "fineractmysql" 3306; do sleep 1; printf "-"; done; echo -e " >> MYSQL server has started";']
      containers:
        - name: fineract-server
          image: leonardohildt/fineract-app:2022-12-30--12-47
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
            requests:
              cpu: "200m"
              memory: "0.5Gi"
          livenessProbe:
            httpGet:
              path: /fineract-provider/actuator/health/liveness
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 1
          readinessProbe:
            httpGet:
              path: /fineract-provider/actuator/health/readiness
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 1
          env:
            - name: FINERACT_NODE_ID
              value: '1'
            - name: FINERACT_HIKARI_DRIVER_CLASS_NAME
              value: org.mariadb.jdbc.Driver
            - name: FINERACT_HIKARI_JDBC_URL
              value: jdbc:mariadb://mariadb-cluster:3306/fineract_tenants
            - name: FINERACT_HIKARI_USERNAME
              value: root
            - name: FINERACT_HIKARI_PASSWORD
              value: mysql
            - name: FINERACT_DEFAULT_TENANTDB_HOSTNAME
              value: fineractmysql
            - name: FINERACT_DEFAULT_TENANTDB_PORT
              value: '3306'
            - name: FINERACT_DEFAULT_TENANTDB_UID
              value: root
            - name: FINERACT_DEFAULT_TENANTDB_PWD
              value: mysql
            - name: FINERACT_DEFAULT_TENANTDB_CONN_PARAMS
              value: ''
            - name: JAVA_TOOL_OPTIONS
              value: '-Xmx1G'
          ports:
            - containerPort: 8443
              name: fineract-server